@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<body>
    @* <header>
        <center>
            <a href="Home/Index" class="btn btn-primary">Home</a>
            <a href="Home/AboutUs" class="btn btn-primary">AboutUs</a>
            <a href="Home/ContactUs" class="btn btn-primary">ContactUs</a>
            <a href="Home/Privacy" class="btn btn-primary">Privacy</a>
        </center>
    </header> *@

    @{
        Layout = "_Layout";
    }
    <h1>Home page</h1>

</body>
</html>